.Header {
    font-size: 1.25em;
    padding: 10px;
    display: inline-flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    gap: 2%;
}

@media (max-width: 900px) {
    .logo-text {
        display: none;
    }
}