@font-face {
    font-family: "Louis George Cafe";
    src: url("./assets/fonts/Louis George Cafe.ttf") format("truetype");
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Louis George Cafe", sans-serif;
    background: #0b0f14;
    color: #f5f5f5;
    scrollbar-color: #151c25 transparent;
}